---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 1550px;

@import "minima";

.page-link.active {
  text-decoration: underline;
}

.chart-title {
  text-align: center
}

#intro-text p {
  font-style: italic;
}